@import "normalize";
@import "testing";

z-box, z-hbox, z-vbox, body
{
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    
    &[align="start"]
    {
        justify-content: flex-start;
    }
    
    &[align="end"]
    {
        justify-content: flex-end;
    }
    
    &[align="center"]
    {
        justify-content: center;
    }
    
    &[pack="start"]
    {
        align-items: flex-start;
    }
    
    &[pack="end"]
    {
        align-items: flex-end;
    }
    
    &[pack="center"]
    {
        align-items: center;
    }
}

/* Flex children */
z-box, z-hbox, z-vbox, body
{
    & > *
    {
    }
}

z-hbox
{
    flex-direction: row;
    
    &[dir="reverse"]
    {
        flex-direction: row-reverse;
    }
}

z-vbox, body
{
    flex-direction: column;
    
    &[dir="reverse"]
    {
        flex-direction: column-reverse;
    }
}

z-label, z-description
{
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    
    &[align="start"]
    {
        justify-content: flex-start;
    }
    
    &[align="end"]
    {
        justify-content: flex-end;
    }
    
    &[align="center"]
    {
        justify-content: center;
    }
    
    &[pack="start"]
    {
        align-items: flex-start;
    }
    
    &[pack="end"]
    {
        align-items: flex-end;
    }
    
    &[pack="center"]
    {
        align-items: center;
    }    
}

z-label::shadow span
{
    color: red;
}
