:root *
{
    --z-font-family: sans-serif;
    --z-font-size: 1rem;
    --z-formfield-background: Window;
    --z-formfield-foreground: WindowText;
    --z-formfield-border: 1px solid ThreeDShadow;
    --z-focus-outline: -webkit-focus-ring-color auto 5px;
}